# --- TEMEL KÜTÜPHANELER ---
numpy
pandas
yfinance
scikit-learn
python-dotenv
requests
feedparser

# --- YAPAY ZEKA VE ARAYÜZ ---
google-genai
streamlit
altair
pyarrow
matplotlib
ollama

# --- VEKTÖR VE RAG ---
pinecone-client
sentence-transformers
transformers
accelerate

# --- PYTORCH (CPU VERSİYONU) ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
