# --- TEMEL KÜTÜPHANELER ---
numpy
pandas
yfinance
scikit-learn
python-dotenv
requests
feedparser

# --- YAPAY ZEKA VE ARAYÜZ ---
google-genai
streamlit
altair
pyarrow
matplotlib
ollama

# --- VEKTÖR VE RAG ---
pinecone==3.2.2
sentence-transformers>=2.3.0
transformers>=4.36.0        # 4.30.0'ı bırak, pinecone ile çakışıyor
accelerate

# --- PYTORCH (CPU VERSİYONU) ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1
torchvision==0.15.2
