# --- TEMEL KÜTÜPHANELER ---
numpy==1.26.4
pandas==2.0.3
yfinance==0.2.54
scikit-learn
python-dotenv
requests
feedparser
joblib
curl_cffi

# --- YAPAY ZEKA VE ARAYÜZ ---
google-genai
streamlit>=1.37.0
altair<5
pyarrow==14.0.2
matplotlib
ollama

# --- VEKTÖR VE RAG ---
pinecone==3.2.2

# --- PYTORCH (CPU VERSİYONU) ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1
torchvision==0.15.2